/*----- 全体のスタイル -----*/
body {
    height: 100%;
    margin: 0;
    font-family: "Canela", "Hiragino Mincho Pro", "MS PMincho";
    background-color: #2C2C2C;
    color: #ffffff;
    text-align: center;
}

/*----- ヘッダーと見出し -----*/
h1 {
    font-size: 44px;
    font-family: "Canela", "Hiragino Mincho Pro", "MS PMincho", serif;
}

h2 {
    font-size: 32px;
    border-bottom: solid 2px #ffffff;
    color: #ffffff;
    margin-bottom: 15px;
    margin-top: 30px;
    font-family: "Canela", "Hiragino Mincho Pro", "MS PMincho", serif;
}

h3 {
    font-size: 30px;
    font-family: "Canela", "Hiragino Mincho Pro", "MS PMincho", serif;
}

h4 {
    font-size: 25px;
    font-family: "Canela", "Hiragino Mincho Pro", "MS PMincho", serif;
}

/*----- リストのスタイル -----*/
li {
    margin: 15px;
    list-style-type: none;
    font-family: "Canela", "Hiragino Mincho Pro", "MS PMincho", serif;
    font-size: 15px;
    color: #ffffff;
    line-height: 1.8;
    padding-left: 10px;
}

/*----- リンクのスタイル -----*/
a:link {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #cccccc;
}

/*----- トップメニュー -----*/
#topmenu ul {
    padding: 0px;
}

#topmenu li {
    list-style: none;
    margin: 10px;
    font-weight: bold;
    font-family: "Canela", "Hiragino Mincho Pro", "MS PMincho", serif;
}

#topmenu a {
    color: #999999;
    font-size: 0.8em;
    text-decoration: none;
}

#topmenu a:hover {
    color: #cccccc;
}

#topmenu {
    margin: auto;
}

/*----- レイアウトの調整 -----*/
#base_top {
    width: 100%;
    margin: auto;
}

#base_bottom {
    width: 100%;
    margin: auto;
    background-color: #111111;
}

#base {
    width: 100%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#head {
    width: 100%;
    overflow: hidden;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#foot {
    clear: both;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

/*----- 中央の線のみ表示するスタイル -----*/
.center-line {
    width: 100%;
    text-align: center;
    position: relative;
}

.center-line::before {
    content: '';
    display: inline-block;
    width: 50px;
    /* 中央の線の長さ */
    border-top: 1px solid #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}